<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crowdfunding">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Kissan Rakshak"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cropdetails_cooperative.CropDetails_cooperative"></activity>
        <activity android:name=".farmer_details.Farmer_details" />
        <activity android:name=".Cooperative_insurance" />
        <activity android:name=".Cooperative_schemes" />
        <activity android:name=".ui.cropinfofarmer.SellCropActivity" />
        <activity
            android:name=".After_farmer_login"
            android:label="@string/title_activity_after_farmer_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Cooperative_Society" />
        <activity android:name=".Framer_login" />
        <activity android:name=".AfterSplash" />
        <activity
            android:name=".After_login"
            android:label="@string/title_activity_after_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>