<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crowdfunding">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Kissan Rakshak"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cooperativeSociety.CooperativeLogin"></activity>
        <activity android:name=".cooperativeSociety.CropDetailsCooperative" />
        <activity android:name=".farmer_details.Farmer_details" />
        <activity android:name=".cooperativeSociety.CooperativeInsurance" />
        <activity android:name=".cooperativeSociety.CooperativeSchemes" />
        <activity android:name=".ui.cropinfofarmer.SellCropActivity" />
        <activity
            android:name=".AfterFarmerLogin"
            android:label="@string/title_activity_after_farmer_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".cooperativeSociety.CooperativeSociety" />
        <activity android:name=".FramerLogin" />
        <activity android:name=".AfterSplash" />
        <activity
            android:name=".AfterLogin"
            android:label="@string/title_activity_after_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>